body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #ffd700;
}

main {
    text-align: center;
}

.buttons {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block; /* Добавьте это, чтобы элемент занимал всю ширину */
}

.buttons button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    /*margin-right: 10px;*/
}

.buttons button:hover {
    background-color: #555;
}

.data-table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.data-table th {
    background-color: #333;
    color: white;
}
